.header-links {
  display: none;
  
  @include bp(min-width, $bp-medium + 1) {
    display: flex;
    font-family: $f-stack-special;
    font-size: 9px;
    text-transform: uppercase;
    border-top: 2px solid $c-black;
    padding-top: 8px;
    
    li {
      margin-right: 15px;
    }
  }
}
